---
import { ipaRecordings } from "@/lib/audio";
import { KALAMA } from "@/consts";

interface Props {
  td?: boolean;
  from: "ipa" | "linku/asi" | "wasona/ipa";
  file: string;
  text?: string;
}
const { td, from, file, text } = Astro.props;

const link =
  from == "ipa"
    ? ipaRecordings[file]
    : from == "wasona/ipa"
      ? `${KALAMA}/kala-asi/ipa/${file}.mp3`
      : `${KALAMA}/kala-asi/words/${file}.mp3`;

const action = `new Audio('${link}').play().catch((e) => {})`;
---

<style>
  button {
    font-size: inherit;
    font-family: inherit;
  }
</style>
<style>
  td {
    transition: background-color 0.1s ease-out;
    cursor: pointer;
  }
  td:hover {
    background-color: var(--bg-3);
  }
  td.ipa {
    font-size: 120%;
  }
  button {
    min-width: 30px;
    background-color: var(--bg-2);
    border-bottom: 2px solid var(--button-out);
    border-right: 2px solid var(--button-out);
    border-top: 2px solid var(--button-in);
    border-left: 2px solid var(--button-in);
  }
  button:active {
    background-color: var(--bg-3);
    border-bottom: 2px solid var(--button-in);
    border-right: 2px solid var(--button-in);
    border-top: 2px solid var(--button-out);
    border-left: 2px solid var(--button-out);
  }
</style>
{
  td ? (
    <td class={from.includes("ipa") ? "ipa" : ""} onclick={action}>
      {text ? text : file}
    </td>
  ) : (
    <button class={from.includes("ipa") ? "ipa" : ""} onclick={action}>
      {text ? text : file}
    </button>
  )
}
