---
import { type CollectionEntry } from "astro:content";
interface Props {
  prevnext?: {
    prev?: CollectionEntry<"blog">;
    next?: CollectionEntry<"blog">;
  };
  current: string;
  language: string;
}
import { langNames, langs } from "@/utils/content";
const { prevnext, current, language } = Astro.props;
---

<style>
  nav {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    text-align: center;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
  }
  span {
    flex: 1 1 0px;
  }
</style>

<nav>
  {
    prevnext ? (
      <>
        <span style="text-align: left">
          {prevnext.prev ? (
            <a href={"./" + prevnext.prev.id}>
              <span aria-hidden="true">«</span> Previous
            </a>
          ) : (
            ""
          )}
        </span>
        <span>
          <a href={"./" + (language !== "en" ? language : "")}>Index</a>
        </span>
        <span style="text-align: right">
          {prevnext.next ? (
            <a href={"./" + prevnext.next.id}>
              Next <span aria-hidden="true">»</span>
            </a>
          ) : (
            ""
          )}
        </span>
      </>
    ) : (
      <span>
        {langs
          .map((lang) =>
            current === lang || (current === "/" && lang === "en") ? (
              <strong>{langNames[lang]}</strong>
            ) : (
              <a href={lang == "en" ? "/" : `/${lang}`}>{langNames[lang]}</a>
            ),
          )
          .reduce((prev, curr, i) => (
            <>
              {prev} <b>{" · "}</b> {curr}
            </>
          ))}
      </span>
    )
  }
</nav>
