---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import PrevNext from "@components/PrevNext.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, description, prev, next } = Astro.props;
---

<!-- <Debug answer={Astro.props} /> -->
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <main>
            <article>
                <h1>{title}</h1>
                <PrevNext prev={prev} next={next} />
                <section>
                    <slot />
                </section>
                <PrevNext prev={prev} next={next} />
            </article>
        </main>
        <Footer />
    </body>
</html>
